.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  background: powderblue;
}

h1{
  color: #fff;
  font-size: 28px;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
  max-width: 50%;
  width: 400px;
  padding: 30px;
  background-color: rgb(50, 157, 157);
  border-radius: 10px;

  & button{
    border-radius: 10px;
    border: none;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(29, 101, 236);
    color: #fff;
    font-size: 14px;
  }

  & button:hover{
    opacity: 0.8;
  }

  & input{
    border: 1px solid #000000;
    border-radius: 30px;
    height: 40px;
    font-size: 14px;
    padding-left: 15px;
    outline: none;
  }
}

.card{
  background-color: rgb(50, 157, 157);
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;

  & p{
    color:#fff;
    font-weight: bold;

    & span{
      font-weight: normal;
    }
  }

  & button{
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    margin: 20px;
    
  }
  & button:hover{
    opacity: 0.7;
  }
}