<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Tarefa</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <header class="banner">
        <h1>Lista de Tarefas teste</h1>
        <input type="text" v-model="item" id="tarefa" placeholder="Digite uma tarefa" /><span
          ><i class="fas fa-plus-circle" v-on:click="add" id="btn"></i>
        </span>
      </header>

      <ul id="lista" v-for="item, index in tarefas">
        <li>
          <i class="fas fa-check-circle check"></i
          ><span v-on:click="check">{{item}}</span>
          <i class="fa-solid fa-trash-can close" v-on:click="del(index)"></i>
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="script.js"></script>
  </body>
</html>
